{% extends "layouts/base.html" %}

{% block title %}
Qo'llab-quvvatlash
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/support.css')}}">
{% endblock %}



{% block content %}


<div class="support-page">


<div class="support-container">


<div class="support-header">

<h2>
💬 Qo'llab-quvvatlash
</h2>

<p>
Biz bilan bog'laning
</p>

</div>




<div class="support-list">



<!-- PHONE -->

<a href="tel:+998954610206"
class="support-card">


<div class="support-icon phone">
📞
</div>


<section>

<h3>
Telefon
</h3>

<p>
+998 95 461 02 06
</p>


<span>
Qo'ng'iroq qilish →
</span>

</section>


</a>






<!-- TELEGRAM -->

<a href="https://t.me/Vendora_Market_supportbot"
target="_blank"
class="support-card">


<div class="support-icon telegram">
💬
</div>


<section>

<h3>
Telegram
</h3>


<p>
@Vendora_Market_supportbot
</p>


<span>
Chatga o'tish →
</span>


</section>


</a>






<!-- EMAIL -->

<a href="mailto:support@sotuv.uz"
class="support-card">


<div class="support-icon email">
📧
</div>


<section>

<h3>
Email
</h3>


<p>
support@sotuv.uz
</p>


<span>
Xat yuborish →
</span>


</section>


</a>



</div>







</div>


</div>



{% endblock %}