{% extends "admin/base.html" %}


{% block content %}


<div class="container mt-4">


<div class="card p-4">


<h2>
<i class="fa-solid fa-file-excel"></i>
 Excel orqali mahsulot qo'shish
</h2>


<p>
Excel namunasini yuklab oling,
ma'lumotlarni to'ldiring va qayta yuklang.
</p>



<a href="/admin/products/excel/template"
class="btn btn-success">

<i class="fa-solid fa-download"></i>

 Excel namuna yuklash

</a>



<hr>



<form method="POST"
action="/admin/products/excel/upload"
enctype="multipart/form-data">


<label class="form-label">

Excel fayl tanlang

</label>


<input 
type="file"
name="file"
accept=".xlsx"
class="form-control"
required>



<br>


<button class="btn btn-primary">

<i class="fa-solid fa-upload"></i>

 Yuklash

</button>


</form>



</div>


</div>


{% endblock %}