*{
box-sizing:border-box;
}


.cart-page{

max-width:1200px;
margin:auto;
padding:30px;

}


.cart-page h1{

font-size:35px;
margin-bottom:30px;

}




.cart-container{

display:flex;
flex-direction:column;
gap:20px;

}




.cart-item{

background:white;
border-radius:25px;
padding:20px;
display:flex;
align-items:center;
gap:25px;

box-shadow:
0 10px 30px rgba(0,0,0,.08);

}



.cart-product-image{

width:180px;
height:180px;

background:#f5f5f5;

border-radius:20px;

display:flex;
align-items:center;
justify-content:center;

overflow:hidden;

font-size:50px;

}



.cart-product-image img{

width:100%;
height:100%;

object-fit:contain;

}



.cart-product-info{

flex:1;

}



.cart-product-info h2{

font-size:22px;

margin-bottom:10px;

}



.price{

font-size:20px;

font-weight:bold;

color:#ff6600;

}



.quantity{

display:flex;

align-items:center;

gap:15px;

margin:20px 0;

}



.quantity a{

width:40px;
height:40px;

display:flex;

align-items:center;
justify-content:center;

background:#ff6600;

color:white;

border-radius:50%;

text-decoration:none;

font-size:25px;

}



.quantity span{

font-size:22px;

font-weight:bold;

}



.total{

font-size:20px;

}



.remove{

display:inline-block;

margin-top:15px;

padding:10px 20px;

background:#ff3344;

color:white;

border-radius:12px;

text-decoration:none;

}




.cart-summary{

margin-top:30px;

background:white;

padding:25px;

border-radius:25px;

box-shadow:
0 10px 30px rgba(0,0,0,.08);

}



.cart-summary span{

color:#ff6600;

}



.checkout{

display:block;

text-align:center;

background:#ff6600;

color:white;

padding:15px;

border-radius:15px;

margin-top:20px;

text-decoration:none;

font-weight:bold;

font-size:18px;

}



.clear{

display:block;

text-align:center;

margin-top:15px;

color:#555;

}




.empty{

text-align:center;

background:white;

padding:60px;

border-radius:30px;

}



.empty-icon{

font-size:80px;

}



.empty a{

display:inline-block;

margin-top:20px;

padding:15px 30px;

background:#ff6600;

color:white;

border-radius:15px;

text-decoration:none;

}

