/* =================================
   MOBILE HOME DESIGN
================================= */


@media (max-width:768px){


body{
    overflow-x:hidden;
}



/* HOME */

.home{

    width:100%;
    padding:12px;

}



/* HERO */

.hero{

    height:220px;

    padding:20px;

    border-radius:20px;

    margin-bottom:20px;

}


.hero::after{

    right:10px;

    font-size:100px;

}



.hero h1{

    font-size:26px;

    line-height:1.2;

}


.hero p{

    font-size:14px;

}


.hero button{

    padding:12px 20px;

    font-size:14px;

}



/* CATEGORY */


.categories{

    grid-template-columns:

    repeat(3,1fr);

    gap:10px;

    margin:15px 0 25px;

}


.category{

    padding:15px 5px;

    border-radius:15px;

    font-size:13px;

}



/* TITLE */


.section-title h2{

    font-size:22px;

}



/* PRODUCTS */


.products{

    grid-template-columns:

    repeat(2, minmax(0,1fr));

    gap:10px;

}



/* CARD */


.product-card{

    padding:8px;

    border-radius:18px;

}



.product-image{

    height:auto;

    aspect-ratio:1/1;

    border-radius:15px;

}



.favorite{

    width:32px;

    height:32px;

    font-size:16px;

    right:8px;

    top:8px;

}



.product-card h3{

    font-size:14px;

    height:38px;

    margin-top:10px;

}



.description{

    display:none;

}



.rating{

    font-size:14px;

}



.price{

    font-size:17px;

    margin:8px 0;

}



.cart-btn{

    padding:10px 5px;

    font-size:12px;

    border-radius:12px;

}



}




/* kichik telefonlar */

@media(max-width:380px){


.hero h1{

    font-size:22px;

}



.categories{

    grid-template-columns:

    repeat(2,1fr);

}



.product-card h3{

    font-size:13px;

}



.price{

    font-size:15px;

}



}