/* =====================================
      MOBILE NAVBAR PRO
===================================== */


@media(max-width:768px){


.main-navbar{

    height:65px;

    padding:0 12px;

}



/* LOGO */


.brand{

    gap:8px;

    font-size:20px;

}


.brand i{

    width:38px;

    height:38px;

    border-radius:12px;

    font-size:20px;

}



/* SEARCH */


.navbar-center{

    position:absolute;

    top:70px;

    left:10px;

    right:10px;

    z-index:900;

}



.search-container{

    height:45px;

    width:100%;

    border-radius:20px;

}



.search-container input{

    font-size:14px;

}



.search-container button{

    width:50px;

}



/* RIGHT */


.navbar-right{

    gap:12px;

}



.nav-icon{

    font-size:22px;

}



.login-btn{

    padding:9px;

}



/* HIDE TEXT */


.login-btn span{

    display:none;

}


}



/* =====================================
      MOBILE BOTTOM MENU
===================================== */


.mobile-bottom-menu{

    display:none;

}



@media(max-width:768px){


.mobile-bottom-menu{

    position:fixed;

    display:flex;

    bottom:0;

    left:0;

    width:100%;

    height:65px;

    background:white;

    z-index:2000;

    justify-content:space-around;

    align-items:center;

    box-shadow:

    0 -5px 25px rgba(0,0,0,.1);

    border-radius:

    20px 20px 0 0;

}



.mobile-bottom-menu a{

    text-decoration:none;

    color:#64748b;

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:3px;

    font-size:12px;

}



.mobile-bottom-menu i{

    font-size:22px;

}



.mobile-bottom-menu a.active{

    color:#ff6600;

}



}



/* SMALL PHONE */


@media(max-width:400px){


.brand i{

    width:34px;

    height:34px;

}



.nav-icon{

    font-size:19px;

}


.mobile-bottom-menu{

    height:60px;

}



.mobile-bottom-menu i{

    font-size:20px;

}

}