.order-page{
padding:25px;
}


.order-header{
background:white;
padding:30px;
border-radius:25px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 10px 30px #0001;
margin-bottom:25px;
}


.order-header h1{
margin:0;
font-size:32px;
}


.status{
padding:12px 22px;
border-radius:30px;
font-weight:bold;
}



.status.Kutilmoqda{
background:#fef3c7;
color:#92400e;
}


.status.Tayyorlanmoqda{
background:#dbeafe;
color:#1d4ed8;
}


.status.Yetkazildi{
background:#dcfce7;
color:#15803d;
}


.status.Bekor{
background:#fee2e2;
color:#b91c1c;
}





.box{

background:white;
padding:30px;
border-radius:25px;
box-shadow:0 10px 30px #0001;
margin-bottom:25px;

}


.box h2{
margin-top:0;
}





.current{

background:#f8fafc;
padding:15px;
border-radius:15px;
margin-bottom:20px;

}





.actions{

display:flex;
gap:15px;
flex-wrap:wrap;

}



.btn{

border:none;
padding:15px 25px;
border-radius:15px;
font-weight:bold;
cursor:pointer;
transition:.3s;

}


.btn:hover{

transform:translateY(-3px);

}



.accept{
background:#22c55e;
color:white;
}



.cancel{

background:#ef4444;
color:white;

}



.ready{

background:#2563eb;
color:white;

}



.waiting{

padding:20px;
background:#dbeafe;
border-radius:15px;

}



.success{

padding:20px;
background:#dcfce7;
border-radius:15px;
color:#15803d;

}






.grid{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;

}


.grid div{

background:#f8fafc;
padding:18px;
border-radius:15px;

}


.grid span{

display:block;
color:#64748b;
font-size:14px;

}


.grid b{

display:block;
margin-top:8px;

}


.full{

grid-column:1/-1;

}







.product{

display:flex;
gap:20px;
padding:20px 0;
border-bottom:1px solid #eee;

}


.product img,
.no-image{

width:100px;
height:100px;
border-radius:15px;
object-fit:cover;

}


.no-image{

background:#f1f5f9;
display:flex;
align-items:center;
justify-content:center;
font-size:40px;

}



.product-info h3{

margin-top:0;

}


.income{

color:#16a34a;
font-weight:bold;

}




.total{

margin-top:25px;
background:#111827;
color:white;
padding:25px;
border-radius:20px;
text-align:right;
font-size:25px;
font-weight:bold;

}





