{% extends "admin/base.html" %}


{% block title %}
Dashboard
{% endblock %}



{% block page_title %}
Admin Dashboard
{% endblock %}




{% block content %}



<!-- STATISTICS -->

<div class="stats">



<div class="stat-card">

<div>

<p>
📦 Mahsulotlar
</p>

<h2>
{{ products }}
</h2>

</div>


<i class="bi bi-box-seam"
style="font-size:35px;">
</i>


</div>





<div class="stat-card">

<div>

<p>
📂 Kategoriyalar
</p>

<h2>
{{ categories }}
</h2>

</div>


<i class="bi bi-grid"
style="font-size:35px;">
</i>


</div>






<div class="stat-card">

<div>

<p>
🛒 Buyurtmalar
</p>

<h2>
{{ orders if orders else 0 }}
</h2>

</div>


<i class="bi bi-cart-check"
style="font-size:35px;">
</i>


</div>






<div class="stat-card">

<div>

<p>
💰 Daromad
</p>

<h2>
{{ revenue if revenue else "0" }}
</h2>

</div>


<i class="bi bi-currency-dollar"
style="font-size:35px;">
</i>


</div>




</div>







<!-- QUICK ACTION -->


<div class="card">


<h2>
Tezkor amallar
</h2>


<a href="/admin/products/add"
class="btn">

➕ Mahsulot qo'shish

</a>


<a href="/admin/categories"
class="btn">

📂 Kategoriya

</a>


<a href="/admin/orders"
class="btn">

🛒 Buyurtmalar

</a>


</div>








<!-- RECENT PRODUCTS -->


<div class="card">


<h2>
Oxirgi mahsulotlar
</h2>



<table>


<thead>

<tr>

<th>
Rasm
</th>


<th>
Nomi
</th>


<th>
Narxi
</th>


<th>
Holati
</th>


</tr>


</thead>



<tbody>



{% if latest_products %}



{% for p in latest_products %}


<tr>


<td>


<img src="{{p.image}}"
width="50"
height="50"
style="border-radius:10px;object-fit:cover;">


</td>



<td>

{{p.name}}

</td>



<td>

{{p.price}} so'm

</td>



<td>


{% if p.active %}

<span style="color:green;">
● Faol
</span>


{% else %}


<span style="color:red;">
● O'chirilgan
</span>


{% endif %}


</td>



</tr>



{% endfor %}



{% else %}


<tr>

<td colspan="4">

Hozircha mahsulot yo'q

</td>


</tr>



{% endif %}



</tbody>


</table>



</div>







<!-- SYSTEM STATUS -->


<div class="card">


<h2>
Tizim holati
</h2>


<p>
🟢 Server ishlayapti
</p>


<p>
🟢 Database ulangan
</p>


<p>
🟢 Admin panel faol
</p>



</div>



{% endblock %}