{% extends "admin/base.html" %}


{% block title %}
Sharhlar
{% endblock %}


{% block page_title %}
Sharhlar
{% endblock %}


{% block content %}

<div class="card">

    <h2>
        ⭐ Mahsulot sharhlari
    </h2>

    <div class="table-box">

        <table>

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Mahsulot</th>
                    <th>Foydalanuvchi</th>
                    <th>Bahosi</th>
                    <th>Sharh</th>
                    <th>Holat</th>
                </tr>
            </thead>


            <tbody>

            <tr>
                <td colspan="6">
                    Hozircha sharhlar mavjud emas
                </td>
            </tr>

            </tbody>

        </table>

    </div>

</div>

{% endblock %}