<!DOCTYPE html>
<html lang="uz">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>
Kirish | Vendora Market
</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='auth/login.css') }}">


<style>

.google-login{
display:flex;
align-items:center;
justify-content:center;
width:100%;
padding:12px;
background:white;
border:1px solid #ddd;
border-radius:10px;
cursor:pointer;
font-weight:600;
}

.google-icon{
width:20px;
margin-right:10px;
}

.social-buttons{
display:flex;
flex-direction:column;
gap:10px;
}


</style>


</head>


<body>


<div class="auth-wrapper">


<div class="auth-card">


<div class="brand">

<div class="logo">
🛒
</div>

<h1>
Vendora
</h1>

<p>
Hisobingizga xavfsiz kiring
</p>

</div>



{% with messages=get_flashed_messages(with_categories=true) %}

{% if messages %}

{% for category,message in messages %}

<div class="alert {{category}}">
{{message}}
</div>

{% endfor %}

{% endif %}

{% endwith %}



<div class="social-buttons">


<button 
id="btn-google-login"
type="button"
class="google-login">


<img 
src="https://www.svgrepo.com/show/475656/google-color.svg"
class="google-icon">

Google orqali kirish


</button>



<a href="https://t.me/Vendora_Marketbot?start=login"
class="telegram-login">

✈️ Telegram orqali kirish

</a>


</div>



<div class="divider">
<span>
yoki
</span>
</div>




<form 
method="POST"
id="loginForm"
action="{{url_for('auth.login')}}">


<input type="hidden"
name="firebase_id_token"
id="firebase_id_token">


<input type="hidden"
name="login_type"
id="login_type"
value="password">



<div class="form-group">

<label>
📱 Telefon raqam
</label>


<div class="phone-row">


<select name="country_code"
id="country_code">


<option value="+998">
🇺🇿 +998
</option>


<option value="+996">
🇰🇬 +996
</option>


<option value="+7">
🇷🇺 +7
</option>


</select>


<input
type="tel"
name="phone"
id="phone"
placeholder="90 123 45 67">


</div>


</div>




<div class="form-group">


<label>
🔒 Parol
</label>


<div class="input-box">


<input
id="password"
type="password"
name="password"
placeholder="Parol">


</div>


</div>




<button
class="login-btn"
type="submit">

🚀 Kirish

</button>



</form>
<!-- FIREBASE AUTH -->

<div id="recaptcha-container"></div>


<script type="module">

import {
    initializeApp,
    getApps,
    getApp
}
from "https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js";


import {
    getAuth,
    GoogleAuthProvider,
    signInWithRedirect,
    getRedirectResult,
    RecaptchaVerifier,
    signInWithPhoneNumber
}
from "https://www.gstatic.com/firebasejs/10.8.0/firebase-auth.js";



// ============================
// FIREBASE CONFIG
// ============================

const firebaseConfig = {

apiKey:
"{{config['FIREBASE_API_KEY']}}",

authDomain:
"{{config['FIREBASE_AUTH_DOMAIN']}}",

projectId:
"{{config['FIREBASE_PROJECT_ID']}}",

storageBucket:
"{{config['FIREBASE_STORAGE_BUCKET']}}",

messagingSenderId:
"{{config['FIREBASE_MESSAGING_SENDER_ID']}}",

appId:
"{{config['FIREBASE_APP_ID']}}"

};




// ============================
// INIT FIREBASE
// ============================


const app =
!getApps().length
?
initializeApp(firebaseConfig)
:
getApp();
console.log(firebaseConfig);



const auth =
getAuth(app);





// ============================
// GOOGLE REDIRECT QAYTGANDA
// ============================


getRedirectResult(auth)

.then(async(result)=>{


if(!result){

return;

}



const user =
result.user;



const token =
await user.getIdToken();



document.getElementById(
"firebase_id_token"
).value = token;



document.getElementById(
"login_type"
).value="google";



const form =
document.getElementById(
"loginForm"
);



form.action =
"{{url_for('auth.google_login_callback')}}";



form.submit();



})


.catch((error)=>{


console.error(
"Google redirect error:",
error
);


alert(
"Google login xatosi: "
+
error.message
);


});







// ============================
// GOOGLE BUTTON
// ============================


const googleBtn =
document.getElementById(
"btn-google-login"
);



if(googleBtn){


googleBtn.onclick =
async()=>{


const provider =
new GoogleAuthProvider();



provider.setCustomParameters({

prompt:"select_account"

});



try{


googleBtn.disabled=true;



await signInWithRedirect(
auth,
provider
);



}

catch(error){


console.error(
error
);



googleBtn.disabled=false;



alert(
error.message
);



}



};


}









// ============================
// SMS OTP
// ============================


let confirmationResultGlobal=null;



const otpBtn =
document.getElementById(
"btn-request-otp"
);



if(otpBtn){


otpBtn.onclick =
async()=>{


let code =
document.getElementById(
"country_code"
).value;



let phone =
document.getElementById(
"phone"
).value
.replace(/\D/g,'');



if(!phone){


alert(
"Telefon raqam kiriting"
);


return;

}



let fullPhone =
code + phone;



try{



if(!window.recaptchaVerifier){


window.recaptchaVerifier =
new RecaptchaVerifier(

auth,

"recaptcha-container",

{

size:"invisible"

}

);


}





confirmationResultGlobal =
await signInWithPhoneNumber(

auth,

fullPhone,

window.recaptchaVerifier

);



alert(
"SMS kod yuborildi"
);



}



catch(error){


console.error(
error
);



alert(
"SMS xatosi: "
+
error.message
);



}



};


}







// ============================
// OTP TASDIQLASH
// ============================


const verifyBtn =
document.getElementById(
"btn-verify-otp"
);



if(verifyBtn){



verifyBtn.onclick =
async()=>{



let code =
document.getElementById(
"otpCode"
).value;



if(code.length!==6){


alert(
"6 xonali kod kiriting"
);


return;

}



try{



const result =
await confirmationResultGlobal.confirm(
code
);



const token =
await result.user.getIdToken();




document.getElementById(
"firebase_id_token"
).value =
token;



document.getElementById(
"login_type"
).value =
"otp";



document.getElementById(
"loginForm"
).submit();



}



catch(error){


console.error(
error
);



alert(
"Kod xato"
);



}



};



}



</script>
<!-- OTP MODAL -->

<div 
class="otp-modal"
id="otpModal"
style="display:none;">


<div class="otp-card">


<button 
type="button"
id="btn-close-otp"
class="close">

✕

</button>



<h2>
🔐 Tasdiqlash kodi
</h2>



<p>
Telefoningizga yuborilgan 6 xonali kodni kiriting
</p>



<input
type="text"
id="otpCode"
maxlength="6"
placeholder="123456">



<div 
id="otpModalStatus">
</div>




<button
type="button"
id="btn-verify-otp"
class="verify-btn">

Tasdiqlash

</button>



</div>


</div>







<!-- REGISTER -->

<div class="divider">

<span>
Hisobingiz yo'qmi?
</span>

</div>



<a 
href="{{url_for('auth.register')}}"
class="register-btn">

📝 Yangi hisob yaratish

</a>



</div>

</div>







<script>


// ===========================
// OTP MODAL OPEN CLOSE
// ===========================


const modal =
document.getElementById(
"otpModal"
);



const closeBtn =
document.getElementById(
"btn-close-otp"
);



function openOtp(){

if(modal){

modal.style.display="flex";

}

}



function closeOtp(){

if(modal){

modal.style.display="none";

}

}




if(closeBtn){

closeBtn.onclick =
()=>{

closeOtp();

};

}






// ===========================
// SERVICE WORKER
// ===========================


if(
"serviceWorker" in navigator
){


navigator.serviceWorker.register(
"/service-worker.js"
)

.then(

(reg)=>{

console.log(
"Service Worker ishladi",
reg.scope
);

}

)

.catch(

(err)=>{

console.log(
"SW error:",
err
);

}

);


}





// ===========================
// PASSWORD SHOW/HIDE
// ===========================


function togglePassword(id){


const input =
document.getElementById(id);



if(input.type==="password"){


input.type="text";


}

else{


input.type="password";


}


}



</script>




</body>


</html>
